<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Hotelverwaltung</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    </h:head>

    <h:body>
        <h:form>
            <div id="page-wrapper">

                <!-- Header -->
                <header id="header">
                    <h1><img src="images/logoweisssehrklein.png"/></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="index.xhtml">Home</a></li>
                                        <li><a href="generic.xhtml">Generic</a></li>
                                        <li><a href="elements.xhtml">Elements</a></li>
                                        <li><a href="#">Sign Up</a></li>
                                        <li><a href="#">Log In</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>



                <article id="main">
                    <header>
                        <ui:insert name="title">

                            <h2>Generic Page</h2>
                            <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>

                        </ui:insert>
                    </header>
                    <section class="wrapper style5">
                        <div class="inner">
                            <ui:insert name="content">

                                <h3>Lorem ipsum dolor</h3>
                                <p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis.</p>

                                <p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet.  Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. </p>

                            </ui:insert>
                        </div>
                    </section>
                </article>


                <footer id="footer">
                    <ul class="icons">

                        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                    </ul>
                    <ul class="copyright">
                        <li>Copyright by </li><li>Alex Lau, Jorrit van der Zee</li>
                    </ul>
                </footer>

                <script src="assets/js/jquery.min.js"></script>
                <script src="assets/js/jquery.scrollex.min.js"></script>
                <script src="assets/js/jquery.scrolly.min.js"></script>
                <script src="assets/js/skel.min.js"></script>
                <script src="assets/js/util.js"></script>
                <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                <script src="assets/js/main.js"></script>

            </div>
        </h:form>
    </h:body>
</html>