<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" template="template.xhtml">
    <ui:define name="title">
        <h2>Neue Buchung hinzufügen</h2>
    </ui:define>
    <ui:define name="content">






        <h:panelGrid columns="2" styleClass="panelGridCenter">
            <h2>
                <h:outputText value="Kunde" />
            </h2>
            <h:selectOneMenu value="#{addBuchung.kunde}">
                <f:selectItems value="#{addBuchung.names}" /> 							
            </h:selectOneMenu>	
            <h2>
                <h:outputText value="Ankunftsdatum" />
            </h2>
            <h:inputText value="#{addBuchung.ankunft}" id="ankunft" required="true" />

            <h2>
                <h:outputText value="Abreisedatum" />
            </h2>
            <h:inputText value="#{addBuchung.abreise}" id="abreise"/>
        </h:panelGrid>
        <br />      
        <br />
        <h:commandButton value="Buchung einfügen" action="#{addBuchung.addBuchung()}" />

    </ui:define>
</ui:composition>
