<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" template="template.xhtml">
    <ui:define name="title">
        <h2>Neue Position hinzufügen</h2>
    </ui:define>
    <ui:define name="content">

        <h:panelGrid columns="2" styleClass="panelGridCenter">
            <h2>
                <h:outputText value="Buchungsnummer" />
            </h2>
            <h:inputText value="#{addPosition.id}" id="buchungsID" required="true" />
            <h2>
                <h:outputText value="LeistungsID" />
            </h2>
            <h:inputText value="#{addPosition.leistungsID}" id="leistungsID" required="true" />

            <h2>
                <h:outputText value="Datum" />
            </h2>
            <h:inputText value="#{addPosition.datum}" id="datum" required="true" />
            <h2>
                <h:outputText value="Anzahl" />
            </h2>
            <h:inputText value="#{addPosition.anzahl}" id="anzahl"/>           
            <h2>
                <h:outputText value="Rabatt in Fr." />
            </h2>
            <h:inputText value="#{addPosition.rabatt}" id="rabatt"/>

        </h:panelGrid>
        <h:commandButton value="Position hinzufügen" action="#{addPosition.addPosition()}" />
        <br />      
        <br />


    </ui:define>
</ui:composition>
