<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" template="template.xhtml">
    <ui:define name="title">
        <h2>PDF</h2>
    </ui:define>
    <ui:define name="content">
        <iframe src="test.pdf" width="100%" height="1000" scrolling="no"></iframe>
    </ui:define>
</ui:composition>
