<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html" template="template.xhtml">
    <ui:define name="title">
        <h2>PDF erstellen für eine Buchung</h2>
    </ui:define>
    <ui:define name="content">
        <h:outputLabel value="Geben sie eine Buchungsnummer ein: "/>
        <h:inputText value="#{pdf.id}" required="true" />
        <h:commandButton value="PDF erstellen" action="#{pdf.generatePDF()}"/>
    </ui:define>
</ui:composition>
